.password__entry {
  margin: 1rem 0;
  width: 100%;
  display: flex;
  border-radius: 6px;
  justify-content: space-between;
  padding: 0.4rem 0.7rem;
  border: 1px solid #FFF;
  color: #FFF;
  background-color: transparent;
  align-items: center;
  gap: 0.5rem;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.password__entry > input {
  width: 100%;
  font-weight: 400;
  outline: none;
  font-size: 0.9rem;
  letter-spacing: 0.34px;
  background-color: transparent;
  border: none;
  color: inherit;
}

.password__entry:focus-within {
  background-color: #FFF;
  color: #232323;   
}

.password__entry button {
  font-size: 0.8rem;
  font-weight: 500;
  color: #423fe7;
  cursor: pointer;
  background-color: transparent;
  padding: 0.2rem 0.12rem 0.12rem;
  border: none;
  border-bottom: 1.2px solid transparent;
  transition: border-color 0.3s ease;
  outline: none;
}

.password__checklist {
  color: #fff;
  margin-top: -7px !important;
  margin-bottom: 0.7rem !important;
}

.password__checklist svg {
  margin-top: 5px !important;
}

@media (pointer: fine) and (hover: hover) {
  .password__entry button:is(:hover, :focus-visible) {
    border-bottom-color: #423fe7;
  }
}